/* pagina base.html */
.nav-link:hover {
    color: rgb(202, 0, 0)
}

/* pagina home.html - finite.html */
#post{
    max-width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 0px;
}
.norm{
    background-color: rgba(0, 110, 255, 0.274);
    border-radius: 10px;
    padding-left: 6px; padding-right: 5px;
    padding-bottom: 2px;
}
.lampo{
    background-color: rgba(238, 255, 0, 0.274);
    border-radius: 10px;
    padding-left: 8px; padding-right: 8px;
    padding-bottom: 2px;
}
.title{
    font-size: 35px; 
    font-weight: bold;
}
.bodypage{
    text-align: left;
}
.linkpost{
    text-decoration: none; 
    color: inherit; 
    display: contents;
}
.imagepart{
    display: block; 
    width: 100%; 
    height: 100%;
}
.footerpage{
    display: inline;
    font-weight: bold;
    text-align: center;
}
.budgetpart{
    font-size: 18px;
}
.budgetpage{
    font-size: 25px;
    color: blue;
}
.imagepost{
    object-fit: cover; 
    border-radius: 15%;
}
.posttitle, .obragg, .titledon{
    font-size: 20px; 
    font-weight: bold;
}
.postdescr{
    font-size: 17px;
}
.imagecontainer{
    width: 300px; 
    height: 200px;
}


/* profilo.html */
.infoutente{
    font-size: 25px; 
    font-weight: bold; 
    margin-bottom: 2px;
}
.portvirt{
    font-weight: bold;
}
.buttons{
    width: 75%;
}
.overflow{
    overflow: hidden;
}

/* single_post */
.spdescr{
    font-weight: bold; 
    display: inline;
}
.barcolor1{
    color: rgb(0, 94, 255);
}
.barcolor2{
    color: grey; 
    right: 40px;
}
.progress-container {
    position: relative;
}
.progress-label {
    position: absolute;
    top: 20px; 
    font-size: 20px;
    font-weight: bold;
}
.progress-label2 {
    position: absolute;
    top: 45px; 
    font-size: 16px;
    font-weight:500;
}

/*
.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
*/




